/* Контейнер картки їжі */
.food-card {
  width: 170px; /* Фіксована ширина для картки */
  margin-bottom: 15px;
  flex: 0 0 auto; /* Запобігає стисканню карток */
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Зображення їжі */
.food-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Назва страви */
.food-card h4 {
  font-size: 16px;
  margin: 8px 0 4px;
  color: #333;
}

/* Опис страви */
.food-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
  text-align: justify; /* Вирівнюємо текст за шириною */
}

/* Блок дій (Деталі + ціна + кнопка) */
.food-card-actions {
  display: flex;
  justify-content: space-between; /* Розподіл елементів */
  align-items: center;
  width: 100%;
  margin-top: auto;
}

/* Ціна біля кнопки "+" */
.food-card-price {
  font-size: 16px;
  color: #111;
  margin-right: auto; /* Зміщує ліворуч */
}

/* Посилання на деталі (на місці ціни) */
.food-info-link {
  font-size: 14px;
  color: #000000;
  text-decoration: none;
  transition: color 0.2s ease;
}

.food-info-link:hover {
  color: #000000;
}

/* Кнопка додавання в кошик */
.add-to-bask-btn {
  background-color: #a80000;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-to-bask-btn:hover {
  background-color: #8f0000;
}
