.home-image {
    width: 100%;    /* Робить зображення адаптивним, щоб воно не вилазило за межі контейнера */
    height: auto;   /* Зберігає пропорції зображення */
    object-fit: cover;  /* Може допомогти зберегти правильні пропорції зображення */
}
.home{
    width: 387px;
    height: 600px;
}
