.header-container {
    position: fixed; /* робить хедер фіксованим */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* щоб бути поверх іншого контенту */
    background-color: #1d1d1d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    height: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* невелика тінь */
}
.main-content {
    padding-top: 60px; /* Висота хедера */
}


.left, .center, .right {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 22px;
    cursor: pointer;
}

.brand-text {
    text-align: center;
    line-height: 1.1;
    font-size: 14px;
}

.cart-count {
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 6px;
    margin-left: 4px;
}
.burger-icon {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1001;
}

.burger-icon span {
    height: 3px;
    background: black;
    border-radius: 2px;
    transition: 0.3s;
}

.burger-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.burger-icon.open span:nth-child(2) {
    opacity: 0;
}
.burger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}


