.dishes {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Завжди 2 колонки на мобільних */
  gap: 15px; /* Трохи зменшив проміжок для кращого розміщення */
  margin-top: 15px;
  width: 100%;
}

.dish-container {
  width: 100%;
}

/* Для планшетів і більших екранів */
@media (min-width: 600px) {
  .dishes {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Більше карток на ширших екранах */
    gap: 20px; /* Повернемо початковий проміжок */
  }
}