.zaklad-home {
  padding: 10px;
  padding-top: 80px; /* Додаємо відступ зверху, щоб уникнути перекриття з хедером */
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.sticky-category-selector {
  position: -webkit-sticky; /* Для старих версій браузерів */
  position: sticky;
  top: 60px; /* Це відстань від верху екрану, де буде закріплений селект */
  background-color: white; /* Фон для селекту */
  z-index: 10; /* Це необхідно, щоб селект залишався поверх контенту */
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dishes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.dish-container {
  display: flex;
  justify-content: center;
}

.food-card {
  max-width: 160px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .dishes {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .dishes {
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
  }
}

@media (min-width: 1024px) {
  .dishes {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
  }
}

@media (min-width: 1440px) {
  .dishes {
      grid-template-columns: repeat(5, 1fr);
      gap: 25px;
  }
}
