.zaklad-home {
    padding: 10px; /* Зменшуємо відступи */
    box-sizing: border-box; /* Додаємо до елементів вміст і відступи */
  }
  
  .dishes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 страви в ряд для всіх пристроїв */
    gap: 10px; /* Відступи між елементами */
  }
  
  .dish-container {
    display: flex;
    justify-content: center;
  }
  
  .food-card {
    max-width: 160px; /* Задаємо максимальну ширину кожної страви */
    margin: 0 auto; /* Центруємо картку всередині контейнера */
  }
  
  @media (min-width: 600px) {
    /* Для екранів шириною більше 600px (наприклад, планшети і десктопи) */
    .dishes {
      grid-template-columns: repeat(2, 1fr); /* 2 страви в ряд */
    }
  }
  
  @media (min-width: 1024px) {
    /* Для екранів більше 1024px, якщо потрібно ще більше відступів або змінити кількість страв в ряд */
    .dishes {
      grid-template-columns: repeat(3, 1fr); /* 3 страви в ряд для великих екранів */
    }
  }
  