html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Уникаємо горизонтального скролу */
}

.basket-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Високий z-index, щоб кнопка була поверх інших елементів */
}
.floating-buttons-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 1000;
  color: red;
}
