* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background: var(--tg-theme-bg-color);

 color: var(--tg-theme-text-color);
}

.basket-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Високий z-index, щоб кнопка була поверх інших елементів */
}